.pazi-item
	opacity 0
	transition opacity 1s
	position absolute
	top 0
	left 0
	right 0
	margin auto
	
	&--active
		opacity 1
		transition opacity 1s
		
	&__text
		font-size fz-promo
		color darkergray
		margin-bottom 30px
	
	&__name
	&__company
		color textblue
		font-weight bold
		font-size fz-main
	
	&__name
		text-transform uppercase
		margin-bottom 0