$abs-c
	content ''
	position absolute
	left 0
	right 0
	top 0
	bottom 0
	margin auto

$abs-c-t
	content ''
	position absolute
	left 0
	right 0
	top 0
	margin auto

$abs-c-b
	content ''
	position absolute
	left 0
	right 0
	bottom 0
	margin auto

$abs-c-h
	content ''
	position absolute
	left 0
	right 0
	margin auto
