// colors
white = #fff

textblue = #005278
blue = #005379
darkblue = #00517d

lighterestgray = #aaa
lightestgray = #f5f5f5
lightgray = #f8f8f8
gray = #777
gray7d = #7d7d7d
darkgray = #292929
darkergray = #333

// font weights
regular = 500

// font sizes
fz-header = 11px
fz-main = 12px
fz-promo = 16px
fz-mid = 24px
fz-big = fz-promo*2