meta(charset="UTF-8")
title fisioMano
link(href="https://fonts.googleapis.com/css?family=Raleway:700,300,400,800", rel="stylesheet", type="text/css")
link(href="https://fonts.googleapis.com/css?family=Roboto:300italic,500", rel="stylesheet", type="text/css")
link(rel="stylesheet", href="css/style.css")