//- this code makes 3 items for news

//- items of this block
-newItem1 = {date: "27 Luglio 2015", dateTime: "2015-07-27", title: "Hand Fun Meeting - Barcellona, 18-19 Settembre 2015"}
-newItem2 = {date: "11 Luglio 2015", dateTime: "2015-07-11", title: "Fisiomano-Milano Chiusura estiva"}
-newItem3 = {date: "08 Luglio 2015", dateTime: "2015-07-08", title: "53ยบ Congresso Nazionale SICM - Viterbo, 8-10 Ottobre 2015"}

//- all items we put in one
-newItems = {newItem1, newItem2, newItem3}

each item in newItems 															//- and make some iteration in it
	.col-sm-12.col-md-4
		.new-item.lefted
			time.new-item__date(datetime=item.dateTime)=item.date
			h3.new-item__title=item.title
			a.new-item__button(href="#") Approfondisci