section#promo.promo
	.container
		.row
			.col-sm-12.col-md-8.col-lg-6.col-off-lg-1.centered
				img.promo__logo(src='img/promo__logo.png', alt='fisio mano')
				blockquote.promo__quotes
					p.promo__text “La mano è l’organo più prezioso che noi possediamo. La perfetta coordinazione tra cervello e mani ha determinato il destino dell’uomo e il suo posto nella natura.”
					cite.promo__autor Pulvertaft