section.hostro#hostro
	.container
		.row.centered
			.col-sm-12.col-md-9.col-lg-7
				h1.hostro__title Il nostro lavoro
				p.hostro__text
					| Questo sito racchiude il frutto del nostro lavoro, dei nostri studi e delle nostre 
					b esperienze riabilitative 
					| maturate in tanti anni di esercizio della professione. 
					b Fisiomano.com 
					| vuole essere il giusto strumento ed un valido supporto per tutti coloro che intendono affrontare nel miglior modo possibile la 
					b riabilitazione delle loro mani. 
				a.hostro__button(href='#') Approfondisci