section#news.news.centered
	.container
		h2.news__title News &amp; Eventi
		.row
			//- this thing makes this block and 3 items in it
			include blocks/news-item
		a.news__button(href="#") Leggi tutte le news