section#tutori.tutori
	.container-fluid
		.row
			.tutori__item.tutori__item--left.col-sm-12.col-md-6.centered
				.tutori__colorfix
					h3.tutori__title Vai alla galleria Tu
			.tutori__item.tutori__item--right.col-sm-12.col-md-6.centered
				.tutori__colorfix
					h3.tutori__title Riabilitazione
					//- this thing make list and items in it
					include blocks/tutori-list