section.contacts#contact
	.container-fluid
		.row
			.col-sm-12.col-md-6
				.contacts__item.contacts__item--left
					//- block of contact form in it
					include blocks/contacts-form
			.col-sm-12.col-md-6
				.contacts__item.contacts__item--right
					//- some list for this block in it
					include blocks/contatti