footer.footer
	.footer__content
		p.footer__text Claudia Viganoni p.iva 13317860156
		p.footer__text Cristina Fassina p.iva 05467540968
		p.footer__text Giada Ravagli p.iva 04714430966
		p.footer__text Erica Semplici p.iva 01460480534
		p.footer__text Federica Braidotti p.iva 02318450307
		p.footer__text Rose Luciano p.iva 03151410168

	p.footer__copy Copyright 2006 &copy; 
		span.footer__copy--bold FISIOMANO.
		| Tutti i diritti sono riservati.
	p.footer__credits Credits
	
	a.footer__button(href="#body") Top