widths = {
	sm: {
		prefix: sm
		min-screen: 0
		container-width: 340px
		container-padding: 20px
		column-padding: 15px
		column-number: 12
	},
	md: {
		prefix: md
		min-screen: 840px
		container-width: 800px
		container-padding: 20px
		column-padding: 15px
		column-number: 12
	},
	lg: {
		prefix: lg
		min-screen: 1240px
		container-width: 1200px
		container-padding: 20px
		column-padding: 15px
		column-number: 12
	},
}