// normalize
@import '../../bower_components/normalize-styl/_normalize'
// sprite
@import 'partials/frame/spritePng'

@import 'partials/frame/variables'
// ninja framework
@import 'partials/frame/ninja/ninja'
// common styles
@import 'partials/frame/common'

// buttons
@import 'partials/frame/buttons'

// placeholders
@import 'partials/frame/placeholders'

// header
@import 'partials/01_header'

// main section
@import 'partials/02_promo'

// hostro section
@import 'partials/03_hostro'

// news section
@import 'partials/04_news'

// tutori section
@import 'partials/05_tutori'

// pazient section
@import 'partials/06_pazient'

// contacts section
@import 'partials/07_contact'

// footer
@import 'partials/08_footer'