.promo
	background #4e84b3 url(../img/promo__bgi.jpg) no-repeat
	background-position center top
	background-size cover
	padding 175px 0 205px

	&__logo
		width 100%
		height auto
		margin-bottom 20px

		@media screen and (min-width 840px)
			width 475px
			height 139px
			margin-bottom 40px

	&__quotes
		color white
		font-style italic
		font-weight 300
		font-family 'Roboto', sans-serif
		text-shadow: 0 0 5px #000
		font-size fz-promo

	&__text
		@media screen and (min-width 840px)
			margin-bottom 27px
			padding 0 30px

	&__autor
		display block
		text-align right
		font-style normal
		font-weight 500

	@media screen and (min-width 840px)
		position relative

		&:before
			display inline-block
			content ''
			position absolute
			bottom 0
			right 10%

			sprite($promo__hands)