.news
	padding 50px 0
	color textblue
	
	@media screen and (min-width 840px)
		padding 75px 0 55px
	
	&__title
		font-size fz-big
		margin-bottom 20px

	&__button
		display inline-block
		padding 16px 47px
		color darkergray
		text-transform uppercase
		font-size fz-main
		border 2px solid darkergray

@import 'blocks/news-item'