.footer
	padding 40px 0 30px
	text-align center
	font-size fz-main+1
	background darkgray

	&__content
	&__credits
		margin-bottom 30px
		
	&__text
	&__copy
	&__credits
	&__button
		color lighterestgray
	
	&__text
	&__copy
		margin 5px
	
	&__button
		border 2px solid
		text-transform uppercase
		font-weight bold
		padding 6px 25px
		