<!DOCTYPE html>
html(lang="en")
head
	include template/frame/head
body
	include template/01_header

	main
		include template/02_promo
		include template/03_hostro
		include template/04_news
		include template/05_tutori
		include template/06_pazient
		include template/07_contact

	include template/08_footer

	script(src="js/main.min.js")